
	<div>
		<div class="row">
			
        	<div class="col-md-3">
        		<img src="http://media.npr.org/assets/img/2012/05/30/rudyeugene_custom-b19998a160cf11e6274e774f6228ed385d8c7126-s6-c30.jpg" alt="..." class="img-circle" style="width: 150px">

				<h3>Ronald Johnson</h3>
				
				<p><small>Followers: 12</small></p>
			</div>
			<div class="col-md-6">
				<p>Book: </p>
				<p>Song: </p>
				<p>Movie: </p>
				<p>App: </p>
			</div>
		</div>
	</div>
</div>
